---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedIn from '../components/icons/LinkedInIcon.astro';
import GitHub from '../components/icons/GitHubIcon.astro';
import MailIcon from '../components/icons/MailIcon.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefCase from '../components/icons/BriefCase.astro';
---

<Layout 
title="Portfolio de Javier Palacio - Diseño y Desarrollo de Software, Web, App movil con +8 años de experiencia en Vitoria Gasteiz."
description='Javier Palacio Diseño Desarrollo Software, Web, App movil Vitoria Gasteiz. Portales Wordpress - Themes personalizados. Diseño gráfico. Aplicaciones moviles'
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<div class="max-w-xl">
				<div class="flex gap-4 mb-4">
				  <img
					class="rounded-full shadow-lg size-16"
					src="https://media.licdn.com/dms/image/C4D03AQHNKAY3pyo-ng/profile-displayphoto-shrink_200_200/0/1595274895997?e=1714608000&v=beta&t=lZoTu-GqudNZpKWauv8kRuIhAxQvV18_EpKORGhglQc"
					alt={''}
				  />
				  <a
					href="https://linkedin.com/in/midudev"
					target="_blank"
					rel="noopener"
					class="flex items-center transition md:justify-center md:hover:scale-105"
				  >
					<Badge texto="">Disponible para trabajar</Badge>
				  </a>
				</div>
			<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg-pb-10">Hey, soy Javipaur
				<a href="" class="flex justify-center items-center">
				</a>
			</h1>
		<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
			<span>+8 años de experiencia.</span> 
			<span class="text-blue-800/80 opacity-80">Desarollador web</span>.
			<span class="text-blue-800/70">De Vitoria, España.</span> Especializado en crear aplicaciones unicas.
		</h2>
		<nav class="flex gap-4 mt-8 flex-wrap">
			<SocialPill>
				<LinkedIn class="size-4 lg:size-6" href="" ></LinkedIn>
				LinkedIn
			</SocialPill>
			<SocialPill>
				<GitHub class="size-4 lg:size-6" href=""></GitHub>
				GitHub
			</SocialPill>
			<SocialPill>
				<MailIcon class="size-4 lg:size-6" href=""></MailIcon>
				info@javierpalacio.es
			</SocialPill>
		</nav>

		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-white text-2xl font-semibold mb-6 flex gap-x-3 item-center">
				<BriefCase class="size-7"/>
				Experiencia Laboral</h2>
			<Experience/>
		</SectionContainer>

		
	</main>
</Layout>

